<%- include('../partials/header.ejs'); %>
<%- include(navbar); %>


<% if(message != undefined){ %>
            
  <%- '<div class="alert alert-warning alert-dismissible fade show" role="alert">' %> 
  <%- '<strong> ' %>
  <%= message %>
  <%- '</strong>' %> 
  <%- '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' %> 
  <%- '<span aria-hidden="true">&times;</span>' %> 
  <%- '</button>' %>
  <%- '</div>' %>  


<% } %>

    <div class="container" style="min-height: 100vh;">
      <div class="row">
        <div class="p-2 col-md-9">
          <table class="table table-hover table-responsive-sm p-2">
            <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor UND</th>
                <th scope="col">Valor</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% let totalPrice = 0; %>
                <% cart.forEach((item, index)=> { %>
                  <tr>
                    <th scope="row">
                      <div style="width: 50px; height: 50px;">
                        <img class="card-img-top mx-auto d-block" style="max-width: 100%; max-height: 50px;"
                          src="<%= item.data.imageLink %>">
                      </div>
                    </th>
                    <td>
                      <a class="text-dark" href="/product/view/<%= item.slug%>/<%= item.data.id%>">
                        <%= item.data.namePlusSmallDescription %>
                      </a>
                    </td>
                    <td>
                      <!-- editar a parte de adicionar item no carrinho  -->
                      <form action="/change-cart-item-quantity" method="POST" id="form-quantity-<%= index %>">
                        <input oninput="maxValue(this, '<%= index %>')" onchange="changedValue('<%= index %>');" style="width: 4.2rem;" value="<%= item.quantity %>"
                        class="form-control" style="width: 18%;" type="number" name="input_quantity" min="1" max="<%= item.data.stockQuantity%>">
                        <input type="hidden" name="index" value="<%= index %>">
                        <span style="font-size: 0.65rem;">Maximo <strong><%= item.data.stockQuantity %></strong> und.</span>
                        <button id="button-<%= index %>" style="display: none;" type="submit"></button>
                    </form>
                      </td>
                    <td>R$ <%= item.data.saleValue.replace('.', ',') %>
                    </td>
                    <td >R$ 
                      <span id="value"><%= ((Number(item.quantity) * Number(item.data.saleValue)).toFixed(2)).replace('.',',') %></span>
                    </td>
                    <td>
                      <form action="/remove-from-cart" method="POST">
                        <input type="hidden" name="index" value="<%= index %>">
                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                      </form>
                    </td>
                  </tr>
                  <% totalPrice +=  Number(item.data.saleValue) * Number(item.quantity) %>
                  <% }) %>
            </tbody>
          </table>
        </div>
        <div class="p-2 col-md-3 mr-3 mr-md-0">
          <div class="p-2 row justify-content-end">
            <h4><strong>Total:</strong> <span class="bg-secondary rounded p-2" style="color: white;">R$ <%= ((totalPrice).toFixed(2)).replace('.', ','); %></span></h4>
          </div>
          <div class="row justify-content-end"><a href="/remove-all-cart" class="btn btn-danger col-8">Limpar carrinho<i
                class="fas fa-trash-alt ml-2"></i></a></div>
          <div class="row justify-content-end mt-2"><a href="/" class="btn btn-outline-primary col-8">Continuar a
              comprar</a></div>
          <div class="row justify-content-end mt-2"><a href="/order/create"
              class="btn btn-outline-success col-8">Finalizar compra<i class="fas fa-check ml-2"></i></a></div>
        </div>
      </div>
    </div>
    <script>
      function maxValue(tag, index){
         if(Number(tag.value) > Number(tag.max)){
            tag.value = Number(tag.max);
            changedValue(index);
         }
         if(Number(tag.value) < Number(tag.min) && tag.value != ''){
            tag.value = Number(tag.min);
            changedValue(index);
         }
      }
      function changedValue(index) {
        let btn = document.getElementById('button-' + index);
        btn.click();
      }
    </script>
    <script>

      let search = document.getElementById('search-bar');
      let lastSearch = search.value;
      let TIMEID = setInterval(() => {
        if (search.value != '') {
          if (lastSearch == search.value){
            let form = document.getElementById('search-form');
            form.submit();
          }
        }
        lastSearch = search.value;
      }, 500);
    
    </script>
    
    <%- include('../partials/footer.ejs'); %>