<%- include('../partials/header.ejs');%>
  <div class="container mt-4" style="min-height: 100vh;">
    <% if(message){ %>
          
        <%- '<div class="alert alert-success alert-dismissible fade show" role="alert">' %> 
        <%- '<strong> ' %>
        <%= message %>
        <%- '</strong>' %> 
        <%- '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' %> 
        <%- '<span aria-hidden="true">&times;</span>' %> 
        <%- '</button>' %>
        <%- '</div>' %>  
      
    <% } %>

    <% if(error){ %>
            
        <%- '<div class="alert alert-danger alert-dismissible fade show" role="alert">' %> 
        <%- '<strong> ' %>
        <%= error %>
        <%- '</strong>' %> 
        <%- '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' %> 
        <%- '<span aria-hidden="true">&times;</span>' %> 
        <%- '</button>' %>
        <%- '</div>' %>  
    
      
    <% } %>
    <div class="card">
      <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="profile"
              aria-selected="false">Registrar</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="adminlogin">
              <div class="container-fluid text-center">
                <form action="/user/authenticate" method="POST" class="form-signin">
                  <i class='fas fas fa-user-check p-2 ml-4' style='font-size:72px; color: rgba(0, 89, 255, 0.829)'></i>
                  <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
                  <label for="inputEmail" class="sr-only">Endereço de email</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Seu email" required autofocus
                    name="email">
                  <label for="inputPassword" class="sr-only">Senha</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required
                    name="password">
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="perfil" role="tabpanel" aria-labelledby="profile-tab">
            <%- include('./create.partial.ejs'); %> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/scripts/data.mask.js"></script>
  <script src="/scripts/validate.js"></script>
  <%- include('../partials/footer.ejs');%>